@use 'abstracts/mixins';
@use 'abstracts/variables';
@use 'abstracts/helpers';

@use 'base/base';
@use 'base/typography';

@use 'components/buttons';

@use 'layout/footer';
@use 'layout/sections';

@use 'sections/about';
@use 'sections/contact';
@use 'sections/hero';
@use 'sections/projects';
@use 'sections/skills';

@import './vendor/css/font-brand.min.css';
@import './vendor/css/font-awesome.min.css'
